@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
    background: linear-gradient(90deg, #41C9A2, #185B9D);
    text-align: center;  
    margin-top: 30px;    
}
#container{
    height: 100%;    
    margin-left: 260px;
    margin-right: 260px;
    border: 6px dashed white;
    padding: 1.5em;
}
h2{
    color: white;
    font-size: 3vw;
}

label{
    color: white;
        
}
span{
    color: white;        
}
input[type="text"]{
    text-align: center;
    padding: auto;
    
}

label, input{
    width: 100%;
}
hr{
    padding: 7px;
    visibility: hidden;
}


@media(max-width: 1000px){
    #container{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 5px;
    }
    h2{
        font-size: 20px;
    }
}







